@model ProyectoIntegrador.Models.Autor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Editar información del autor</h1>
</center>
<hr />

    
        <form asp-action="Edit">
        <div class="row justify-content-center">
        <div class="col">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AutorID" />
            <div class="form-group">
                <label asp-for="PrimerNombre" class="control-label"></label>
                <input asp-for="PrimerNombre" class="form-control" />
                <span asp-validation-for="PrimerNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellido" class="control-label"></label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorioAutor" class="control-label"></label>
                <input asp-for="DirectorioAutor" class="form-control" />
                <span asp-validation-for="DirectorioAutor" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="Bibliografia" class="control-label"></label>
                <textarea asp-for="Bibliografia" class="form-control" rows="5" ></textarea>
                <span asp-validation-for="Bibliografia" class="text-danger"></span>
            </div>
            </form>
            </div>
            </div>
            <br>
            <div class="row justify-content-between">
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-info" />
            </div>
            
<div>
    <a class="btn btn-info" asp-action="Index">Ver lista de autores</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
