@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
}
<style>
.tarjeta{
    background: rgba(4, 4, 8, 0.5);
    border-radius: 20px;
}
.bton{
    background:rgb(77,172,220);
}
.texto{

}
</style>


    <div class="row justify-content-center p-3">
        <div class="tarjeta p-3" style="width: 29rem;">
            <center>
                <img style="width: 70px" src="~/images/Logo2.png" />
                <h4 class="text-white">Iniciar sesión</h4>
            </center>
            <hr />
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="text-white">Correo electrónico</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="text-white">Contraseña</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="text-white">
                            <input asp-for="Input.RememberMe" />
                            Recordarme

                        </label>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <div class="form-group">
                        <button type="submit" class="btn bton text-white">Iniciar sesión</button>
                    </div>


                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword" class="text-white">¿Olvidé mi contraseña?</a>
                        </p>
                    </div>
                </div>
            </form>

        </div>

    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
